<div class="scroll-top"   style="margin-top: 3%; margin-bottom: 2%;"><span class="scroll-top__arrow">В начало страницы</span></div>
<div id="vk_community_messages"></div> 
<div class="form-indent" style="border-top: 2px solid black;">
   <div class="text-informer">
      <h1>Мебель высокого качества для Вас и вашего дома</h1>

      <div class="text-block" style="background-color: #e8e8e8; padding: 15px; align-items: left;">
         <p> Магазин мягкой и корпусной мебели «ДоРеМи» предоставляет покупателям самые популярные модели мебели в Лениногорске и близлежащих городах Альметьевск, Бугульма, Азнакаево.</p>
         <p>Вы можете выбрать и заказать нужный вам товар прямо у нас на сайте. Не нужно ездить в мебельные торговые центры, находящиеся в разных концах города, тратить драгоценное время и самое важное, что участвовать в выборе мебели может вся семья!</p>
         <p>Наши менеджеры примут Ваш заказ, а наша служба доставки, привезет мебель в удобное для Вас время! Опытные сборщики помогут Вам осуществить сборку и установку мебели!</p>
 
      </div> 

      <div class="row" style="border-top: 2px solid black; margin-top: 25px;">
         <h1>Почему именно мы?</h1><br>
      </div>

      <!-- <div class="informers">  
         <img src="https://image.flaticon.com/icons/png/128/3388/3388530.png" style="width: 30px;">  Мы доставляем и поднимаем совершенно бесплатно (при заказе от 10 т.р.)
      </div> -->
      <div class="informers">
         <img src="https://image.flaticon.com/icons/png/128/3388/3388530.png" style="width: 30px;"> Мы закупаем напрямую у производителей, минуя посреднических наценок.
      </div>
      <div class="informers">
         <img src="https://image.flaticon.com/icons/png/128/3388/3388530.png" style="width: 30px;"> Мы единственные в городе имеем собственное помещение и не закладываем в мебель огромные проценты для оплаты аренды.
      </div>
      <div class="informers">
         <img src="https://image.flaticon.com/icons/png/128/3388/3388530.png" style="width: 30px;"> Только мы полностью распаковываем мебель перед клиентом, тем самым клиент уверен в целостности и комплектности мебели.
      </div>
      <div class="informers">
         <img src="https://image.flaticon.com/icons/png/128/3388/3388530.png" style="width: 30px;"> У нас трезвые и вежливые грузчики.
      </div>
      <div class="informers">
         <img src="https://image.flaticon.com/icons/png/128/3388/3388530.png" style="width: 30px;"> Вам достаточно иметь 500 рублей для оформления заказа, а остаток оплачивается дома.
      </div> 
   </div>
   <br>
   <br>

   
</div> 