<div class="menu-absolute"> 
  <nav id="menu" class="sidebar">

    <div class="logo hidden-md hidden-sm hidden-xs" style="background-color: #474747;">       
     <a href="/" class="logo-img"><img src="./img/logo.png" title="«DOREMI»" alt="«DOREMI»" class="img-responsive" style="height: 51px; width: 50%;"></a>  
    </div> 

    <ul class="nav-sidebar__list"> 
                          
             
      <li class="nav-sidebar__section main-links">
        <a href="/">
            <img src="./files/single-couch-24x24.png" alt="Главная" title="Главная">Главная 
        </a>
      </li>         
      <li class="nav-sidebar__section main-links">
        <a href="/comments">
            <img src="./files/single-couch-24x24.png" alt="Отзывы" title="Отзывы">Отзывы 
        </a>
      </li>         
      <li class="nav-sidebar__section main-links">
        <a href="/about-shops">
            <img src="./files/single-couch-24x24.png" alt="О магазине" title="О магазине">О магазине 
        </a>
      </li>          
      <li class="nav-sidebar__section main-links">
        <a href="/contacts">
            <img src="./files/single-couch-24x24.png" alt="Контакты" title="Контакты">Контакты
        </a>
      </li>     
 
      
      <li class="nav-sidebar__section nav-sidebar__special">
        <a href="/specials" style="background-color: #87ec3a;">
          <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon">
            <line x1="19" y1="5" x2="5" y2="19"></line>
            <circle cx="6.5" cy="6.5" r="2.5"></circle>
            <circle cx="17.5" cy="17.5" r="2.5"></circle>
          </svg> 
        <span class="align-middle">В наличии</span></a>
    </li> 
    

    <li class="nav-sidebar__section"> 
      <a href="/catalog/sale">Акции</a>
    </li> 

    <li class="nav-sidebar__section"> 
      <a href="/catalog/straight_sofas">Прямые диваны</a>
    </li> 
     
      <li class="nav-sidebar__section">
        <a href="/catalog/beds">
            <img src="./files/double-bed-24x24.png" alt="Кровати " title="Кровати ">Кровати 
          </a>
      </li> 
     
      <li class="nav-sidebar__section">
        <a href="/catalog/bedroom_suite">
            <img src="./files/double-bed-24x24.png" alt="Спальни " title="Спальни ">Спальни 
          </a>
      </li> 
     
      <li class="nav-sidebar__section">
        <a href="/catalog/case_compartment">
            <img src="./files/double-bed-24x24.png" alt="Шкафы-купе " title="Шкафы-купе ">Шкафы-купе 
          </a>
      </li> 
     
      <li class="nav-sidebar__section">
        <a href="/catalog/chests">
            <img src="./files/double-bed-24x24.png" alt="Комоды " title="Комоды ">Комоды 
          </a>
      </li> 
     
      <li class="nav-sidebar__section">
        <a href="/catalog/child_furniture">
            <img src="./files/double-bed-24x24.png" alt="Детская мебель " title="Детская мебель ">Детская мебель 
          </a>
      </li> 
     
      <li class="nav-sidebar__section">
        <a href="/catalog/computer_table">
            <img src="./files/double-bed-24x24.png" alt="Компьютерные столы " title="Компьютерные столы ">Компьютерные столы 
          </a>
      </li> 
     
      <li class="nav-sidebar__section">
        <a href="/catalog/dining_table">
            <img src="./files/double-bed-24x24.png" alt="Обеденные столы " title="Обеденные столы ">Обеденные столы 
          </a>
      </li> 
     
      <li class="nav-sidebar__section">
        <a href="/catalog/hallways">
            <img src="./files/double-bed-24x24.png" alt="Прихожие " title="Прихожие ">Прихожие 
          </a>
      </li> 
     
      <li class="nav-sidebar__section">
        <a href="/catalog/interior_bed">
            <img src="./files/double-bed-24x24.png" alt="Интерьерные кровати " title="Интерьерные кровати ">Интерьерные кровати 
          </a>
      </li> 
     
      <li class="nav-sidebar__section">
        <a href="/catalog/kitchens">
            <img src="./files/double-bed-24x24.png" alt="Кухни " title="Кухни ">Кухни 
          </a>
      </li> 
     
      <li class="nav-sidebar__section">
        <a href="/catalog/living_room">
            <img src="./files/double-bed-24x24.png" alt="Гостиная " title="Гостиная ">Гостиная 
          </a>
      </li> 
     
      <li class="nav-sidebar__section">
        <a href="/catalog/mattress_cover">
            <img src="./files/double-bed-24x24.png" alt="Чехлы для матраса " title="Чехлы для матраса ">Чехлы для матраса 
          </a>
      </li> 
     
      <li class="nav-sidebar__section">
        <a href="/catalog/mattresses">
            <img src="./files/double-bed-24x24.png" alt="Матрасы " title="Матрасы ">Матрасы 
          </a>
      </li> 
     
      <li class="nav-sidebar__section">
        <a href="/catalog/small_form">
            <img src="./files/double-bed-24x24.png" alt="Малые формы " title="Малые формы ">Малые формы 
          </a>
      </li>  
    </ul>
  </nav>
</div>