
<footer>
  <div class="container-fluid">
    <div class="box-footer__contacts">
      <div class="contacts-wrapper">
        <div class="box-footer__phone">
          <div class="phone-title">Остались вопросы? Звоните нам:</div>
          <div class="phone--link">
            <span class="phone-link__icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17.87 17.87" width="18" height="18" id="phone" class="icon">
                <path d="M5.11 13a16.84 16.84 0 0 0 7.55 4.66c2.33.67 4.11-.33 4.44-1.11a14.1 14.1 0 0 0 .78-2.66c.22-1.44-4.88-3.44-5.66-2-.22.33-.44 1.55-1.66.78a40.26 40.26 0 0 1-5.34-5.35c-.67-1.22.44-1.44.79-1.66C7.33 5 5.33-.11 4.01 0c-.35 0-2.23.67-2.68.78-.77.33-1.77 2.1-1.11 4.44A21.61 21.61 0 0 0 5.11 13z" fill="currentColor"></path>
              </svg>
            </span>
            <a href="tel:79912220777" class="link-phone call_phone_hoff">+7 (991) 222-0-777</a>
          </div> 
        </div>
         
         
      </div>
    </div>
  </div>

 

  <div class="footer-container">
    <div class="container-fluid">

      <div class="row">  
        <div class="nav-dropdown__content">
          <h4 style="margin-left: 10px; ">Каталог</h4>
          <div class="col-sm-3"> 
            <ul class="list-unstyled footer-link-color"> 
              <li><a href="/catalog/in_stock">В наличии</a></li> 
              <li><a href="/catalog/straight_sofas">Прямые диваны</a></li> 
              <li><a href="/catalog/corner_sofas">Угловые диваны</a></li> 
              <li><a href="/catalog/sofas_transformers">Диваны трансформеры</a></li> 
              <li><a href="/catalog/chairs">Кресла</a></li> 
              <li><a href="/catalog/mattresses">Матрасы</a></li> 
              <li><a href="/catalog/springless_mattresses">Беспружинные матрасы</a></li> 
              <li><a href="/catalog/rollup_mattresses">Рулонные матрасы</a></li> 
              <li><a href="/catalog/pillows">Подушки для сна</a></li> 
            </ul> 
          </div>

          <div class="col-sm-3"> 
            <ul class="list-unstyled footer-link-color">  
              <li><a href="/catalog/wardrobes">Шкафы-купе</a></li> 
              <li><a href="/catalog/swing_cabinets">Шкафы распашные</a></li> 
              <li><a href="/catalog/living_rooms">Гостиные</a></li> 
              <li><a href="/catalog/beds">Кровати</a></li>  
              <li><a href="/catalog/sleeping_sets">Спальные гарнитуры</a></li>  
              <li><a href="/catalog/childrens_furniture">Детская мебель</a></li> 
              <li><a href="/catalog/childrens_sofas">Детские диваны</a></li> 
              <li><a href="/catalog/children_mattresses">Детские матрасы</a></li> 
              <li><a href="/catalog/bunk_beds">Двухярусные кровати</a></li> 
            </ul> 
          </div>

          <div class="col-sm-3"> 
            <ul class="list-unstyled footer-link-color">   
              <li><a href="/catalog/childrens_mattresses">Детские матрасы</a></li> 
              <li><a href="/catalog/dressers">Комоды</a></li>  
              <li><a href="/catalog/hallways">Прихожие</a></li>  
              <li><a href="/catalog/small_forms">Малые формы</a></li> 
              <li><a href="/catalog/coffee_tables">Журнальные столики</a></li> 
              <li><a href="/catalog/dressing_tables">Туаленые столики</a></li> 
              <li><a href="/catalog/computer_desks">Компьютерные столы</a></li> 
              <li><a href="/catalog/tv_cabinets">Тумбы под ТВ</a></li> 
            </ul> 
          </div> 

        </div>
      </div>

      <hr style="border: 1px solid #fff; margin-top: 30px; margin-bottom: 30px;">

      <div class="row"> 
        <div class="nav-dropdown__content">

          <div class="col-sm-3">
            <ul class="list-unstyled footer-information">
              <li class="footer-info__title"><strong>Информация</strong></li>  
              <li class="footer-info__item">
                <a href="/" rel="nofollow" class="header-information__liks header-link">Главная</a> 
              </li>                   
              <li class="footer-info__item">        
                <a href="/comments" class="link-bottom">Отзывы</a>           
              </li>
              <li class="footer-info__item">        
                <a href="/about-shops" class="link-bottom">О магазине</a>           
              </li>
              <li class="footer-info__item">        
                <a href="/contacts" class="link-bottom">Контакты</a>           
              </li> 
            </ul>
          </div>
          <div class="col-sm-3">
            <ul class="list-unstyled footer-phone">
              <li class="footer-info__title"><strong>Телефон</strong></li> 
              <li class="footer-info__item"><a href="tel:79912220777">+7 (991) 222-0-777</a></li> 
            </ul>

            <ul class="list-unstyled footer-address">
                <li class="footer-info__title footer-text"><strong>Наш адрес</strong></li>
                <li class="footer-info__item footer-text">г. Лениногорск, ул. Энгельса, д. 5а</li>
            </ul>
          </div>

          <div class="col-sm-3">
            <ul class="list-unstyled footer-job">
              <li class="footer-info__title"><strong>Режим работы</strong></li>
              <li class="footer-info__item"><a href="/" class="footer-info__link link-bottom"></a></li>        
              <li class="footer-info__item footer-text">Понедельник-пятница с 08:00-17:00</li>  
              <li class="footer-info__item footer-text">Суббота с 09:00-17:00</li>  
              <li class="footer-info__item footer-text">Воскресенье с 09:00-17:00</li>      
            </ul>
          </div>

          <div class="col-sm-3"> 
            <div class="box-social">
              <div class="social-title">Присоединяйтесь к нам в социальных сетях</div>
              <div class="social-block">
                <ul class="social">
                    <li><a rel="nofollow" title="Instagram" href="https://www.instagram.com/doremi.mebel/" target="_blank" style="background: #f09433; background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );"><i class="fa fa-instagram"></i></a></li> 
                    
                    <li><a rel="nofollow" title="ВКонтакте" href="https://vk.com/doremi.mebel" target="_blank" style="background:#4a76a8;"><i class="fa fa-vk"></i></a></li> 

                    <li><a rel="nofollow" title="Whatsapp" href="https://api.whatsapp.com/send?phone=79178900481" target="_blank" style="background:#24e256;"><i class="fa fa-whatsapp"></i></a></li> 
  
                </ul>
              </div>
            </div>
          </div> 

        </div>  
      </div>

     

      <!--
      <div class="row">
          <div class="col-sm-5"> 
  			     <ul class="list-unstyled text-footer"> 
                <li><img src="./img/logo.png" title="«DOREMI»" alt="«DOREMI»" style="height: 40px; width: 130px; "></li> 
                <li><p>8 (917) 890-04-81</p></li>
                <li><p>8-(85595)-6-55-22</p></li> 
                <li><p>г.Лениногорск ул.Энгельса д. 5а</p></li> 
                <li><p> «DoReMi» © 2020</p></li> 
              </ul>
        	</div> 

          <div class="col-sm-5"> 
            <div class="box-social">
              <div class="social-title">Присоединяйтесь к нам в социальных сетях</div>
              <div class="social-block">
                <ul class="social">
                    <li><a rel="nofollow" title="Instagram" href="https://www.instagram.com/doremi.mebel/" target="_blank" style="background: #f09433; background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );"><i class="fa fa-instagram"></i></a></li> 
                    
                    <li><a rel="nofollow" title="ВКонтакте" href="https://vk.com/doremi.mebel" target="_blank" style="background:#4a76a8;"><i class="fa fa-vk"></i></a></li> 
                </ul>
              </div>
            </div>
          </div>
          !-->
          <!--
          <div class="col-sm-2"> 
             <ul class="list-unstyled text-footer"> 
                <li><a href="//freekassa.ru/"><img src="//www.free-kassa.ru/img/fk_btn/9.png" title="Приём оплаты на сайте картами" style="width: 120px; height: 40px;"></a></li>  
              </ul>
          </div> !-->
           
      </div>
    </div>
 
      
  </div>
</footer>

<script>
  (function(w,d,u){
  var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/60000|0);
  var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
  })(window,document,'https://cdn-ru.bitrix24.ru/b16364024/crm/site_button/loader_2_hctc5l.js');
  </script>