
<meta name="yandex-verification" content="7e2e98afbbb0facb" />
<meta property="og:url" content="https://doremi-sklad.ru">
 
 
<link rel="next" href="https://doremi-sklad.ru/catalog/sofas"> 
<link rel="next" href="https://doremi-sklad.ru">  
<link rel="next" href="https://doremi-sklad.ru/about">  
<link rel="next" href="https://doremi-sklad.ru/contacts">  
 
 
<meta name="description" content="Мебельный магазин ДоРеМи предлагаем вам качественную мебель для всех комнат. Большой выбор, гарантия на все модели от производителя. Доставим до дома.">
<meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1">

<meta property="og:locale" content="ru_RU">
<meta property="og:type" content="website">
<meta property="og:title" content="Каталог мебели | ДоРеМи - мебельный магазин">
<meta property="og:description" content="Мебельный магазин ДоРеМи предлагаем вам качественную мебель для всех комнат. Большой выбор, гарантия на все модели от производителя. Доставим до дома.">
<meta property="og:site_name" content="ДоРеМи - мебельный магазин">

 
<meta property="og:image" content="https://sun9-21.userapi.com/ov6hZnT0EbRhHy3xZgzEmEINnQnrfLqDRFA4UQ/Va9g2QLHgiM.jpg" /> 
<meta property="og:image:width" content="1080"/>
<meta property="og:image:height" content="1080"/>

 
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:description" content="Мебельный магазин ДоРеМи предлагаем вам качественную мебель для всех комнат. Большой выбор, гарантия на все модели от производителя. Доставим до дома.">
<meta name="twitter:title" content="Каталог мебели | ДоРеМи - мебельный магазин">
 
 
<meta name="description" content="В интернет-магазине «DOREMI» можно купить мягкую и корпусную мебель недорого от производителя! Доставка по Москве и Московской области.">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
 
<!--<base href="http://demo.bigeon.ru/">-->

<title>Каталог мебели | ДоРеМи - мебельный магазин</title>
<base href="/public">
 
<link rel="shortcut icon" href="/img/favicon16x16.png" type="image/x-icon">
 
<link href="./css/bootstrap.min.css" rel="stylesheet" media="screen">  
<link href="./css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="./css/swiper.min.css" type="text/css" rel="stylesheet" media="screen">
<link href="./css/opencart.css" type="text/css" rel="stylesheet" media="screen">
<link href="./css/style.css" rel="stylesheet"> 
<link rel="stylesheet" href="./font-awesome/css/font-awesome.min.css">

<script src="https://vk.com/js/api/openapi.js?168" type="text/javascript"></script>
<script src="./scripts/jquery-2.1.1.min.js"></script>
<script src="./scripts/bootstrap.min.js"></script>
<script src="./scripts/swiper.jquery.js"></script> 
<script src="./scripts/script.js"></script>
<script src="./scripts/vlad.js"></script>   

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<script src="./scripts/chat.js"></script>   

<!--<script src="//taplink.cc/doremi.mebel/widget/" async></script>!-->


<script type="text/javascript">!function(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src="https://vk.com/js/api/openapi.js?168",t.onload=function(){VK.Retargeting.Init("VK-RTRG-508966-6supv"),VK.Retargeting.Hit()},document.head.appendChild(t)}();
</script>
<noscript><img src="https://vk.com/rtrg?p=VK-RTRG-508966-6supv" style="position:fixed; left:-999px;" alt=""/></noscript>

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(65944495, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/65944495" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-174214922-1">
</script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-174214922-1');
</script>




<!-- Begin LeadBack code {literal} -->

<!-- <script>

var _emv = _emv || [];
_emv['campaign'] = '14d204929bd4e3d4f4cb3c88';

(function() {
var em = document.createElement('script'); em.type = 'text/javascript'; em.async = true;
em.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'leadback.ru/js/leadback.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(em, s);

})();

</script> -->

<!-- End LeadBack code {/literal} -->
 

<!-- <script data-b24-form="auto/2/gu5mk8" data-skip-moving="true"> (function(w,d,u){ var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/180000|0); var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h); })(window,document,'https://cdn-ru.bitrix24.ru/b16364024/crm/form/loader_2.js'); </script> -->